@tailwind base;
@tailwind components;
@tailwind utilities;

*,
a,
button {
  cursor: default;
  user-select: none;
}

.content-visibility-auto {
  content-visibility: auto;
}

.contain-paint {
  contain: paint;
}

.app-region-drag {
  -webkit-app-region: drag;
}

.app-region-no-drag {
  -webkit-app-region: no-drag;
}

@font-face {
  font-family: "WadaLabMaruGo2004ARIBKakomi";
  src: url("../assets/rounded-mplus-1m-arib.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  unicode-range: U+1f13f-225, U+26bf, U+3299;
}

.WadaLabMaruGo2004ARIBKakomi {
  font-family: WadaLabMaruGo2004ARIBKakomi, ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: "Rounded M+ 1m for ARIB";
  src: url("../assets/rounded-mplus-1m-arib.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.programDescription {
  a {
    @apply text-blue-400;
    @apply cursor-pointer;
  }

  * {
    user-select: text;
  }
}
