@tailwind base;
@tailwind components;
@tailwind utilities;

*,
a,
button {
  cursor: default;
  user-select: none;
}

.content-visibility-auto {
  content-visibility: auto;
}

.contain-paint {
  contain: paint;
}

.app-region-drag {
  -webkit-app-region: drag;
}

.app-region-no-drag {
  -webkit-app-region: no-drag;
}
